<div class="panel w-50 mx-auto">
<%= form_with(model: users_integration) do |form| %>
  <% if users_integration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(users_integration.errors.count, "error") %> prohibited this users_integration from being saved:</h2>

      <ul>
        <% users_integration.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
     <%= form.label :integration_id, class: "font-weight-bold" %><br />
    <%= form.collection_select :integration_id, @integrations, :id, :name, {:prompt => "Select an integration"}, {:class=>"form-control"} %>
  </div>

  <div class="form-group">
    <%= form.label :name, class: "font-weight-bold" %><br />
    <%= form.text_field :name, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :uri, class: "font-weight-bold" %><br />
    <%= form.text_field :uri, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :username, class: "font-weight-bold" %><br />
    <%= form.text_field :username, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password, class: "font-weight-bold" %><br />
    <%= form.password_field :password, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

    <div class="form-group">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div class="actions text-center">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
</div>
