<p id="notice" class="alert alert-success hidden"><%= notice %></p>

<div class="text-center mb-3">
<%= link_to 'Add Integration', new_users_integration_path, class: "btn btn-primary" %>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Integration Name</th>
      <th scope="col">Integration Type</th>
      <th scope="col">Integration URI</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users_integrations.each do |users_integration| %>
      <tr>
        <td><%= users_integration.id %></td>
        <td><%= users_integration.name %></td>
        <td><%= users_integration.integration.name %></td>
        <td><%= users_integration.uri %></td>
        <td class="text-center">
          <%= link_to 'Show', users_integration, class: "btn btn-success"%>
          <%= link_to 'Edit', edit_users_integration_path(users_integration), class: "btn btn-primary" %>
          <%= link_to 'Destroy', users_integration, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>