<p id="notice"><%= notice %></p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col" colspan="2" class="text-center"><%= @users_integration.name %> (<%= @users_integration.integration.name %>)</th><tr>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Integration Name:</td><td><%= @users_integration.name %></td>
    </tr>
    <tr>
      <td>Integration Type:</td><td><%= @users_integration.integration.name %></td>
    </tr>
        <tr>
      <td>Integration URI:</td><td><%= @users_integration.uri %></td>
    </tr>
        <tr>
      <td>Integration Username:</td><td><%= @users_integration.username %></td>
    </tr>
        <tr>
      <td>Integration Password:</td><td><%= @users_integration.password %></td>
    </tr>
  </tbody>
</table>


<%= link_to 'Edit', edit_users_integration_path(@users_integration) %> |
<%= link_to 'Back', users_integrations_path %>
