<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Integration</th>
      <th scope="col">Ticket ID</th>
      <th scope="col">Ticket Created</th>
      <th scope="col">Ticket Subject</th>
    </tr>
  </thead>
  <tbody>
     <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.users_integration.integration.type %></td>
        <td><%= ticket['id'] %></td>
        <td><%= ticket['created_at'] %></td>
        <td><%= ticket['subject'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
